/* boilerplate */
* {
margin: 0;
padding: 0; 
box-sizing: border-box;
color: whitesmoke;
font-family: consolas;
}

/* set the background image */
body {
    background-image: url('void.png');
    background-size: cover;
    background-position: center;
}

#headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(99, 9, 76, 0.95), rgba(69, 0, 52, 0.95));

    height: 100px;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
#headerContainer > h1 {
    font-size: 50px;
}
#headerContainer > p {
    font-size: 20px;
}
#headerContainer > img {
    margin: 20px;
}
#secondPad {
    transform: rotate(180deg);
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color:black;
    height: 47px;
    width: 1200px;
    margin: 0 auto;
}

.nav-button { /* primary navbar */
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    background-color: #2225ee;
    border: 2px solid #444;
    border-radius: 5px 5px 0 0;
    text-align: center;
    font-weight: bold;
    width: 105px;
    height: 43px;
}
.nav-button.active { /* currently open page color */
    background-color: #333;
}
.nav-button:hover { /* hover color */
    background-color: #e02222;
}

#mainPageBody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    background: linear-gradient(to right, rgba(99, 9, 76, 0.95), rgba(69, 0, 52, 0.95));
    width: 1200px;
    height: 900px;
}

#sidebar {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 900px;
    border-right: 2px solid rgb(0, 0, 0);
}
#recentArticles {
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 240px;
}

#card {
    background-color: black;
    width: 500px;
    height: 40px;
    border-top: solid #e02222 2px;
    margin-top: 10px;
    padding: 8px;
    font-size: 20px;
}

#primary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 960px;
    height: 900px;
}
#triple {
    width: 200px;
    border: groove #e02222 4px;
    margin: 10px 30px;
    float: right;
}
.details {
    margin: 10px;
}